.todos-list {
    margin-bottom: 50px;
}

    .todo-item {
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height: 64px;
        border-bottom: 1px solid #e6e6e6;

        display: flex;
        justify-content: space-between;
    }


    .todo-item:hover {
        background: #fafafa;
    }

        .input-checkbox {
            position: relative;
            width: 64px;
            height: 64px;
            min-width: 64px;

            align-self: center;
            float: left;
        }


            .input-checkbox_target {
                position: absolute;
                margin: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .input-checkbox_visual {
                position: absolute;
                top: 10%;
                right: 10%;
                bottom: 10%;
                left: 10%;
                border-radius: 50%;
                background: none;
                border: 1px solid #e7e7e7;
            }

            .input-checkbox_target:hover {
                cursor: pointer;
            }


            .input-checkbox_target:checked ~ .input-checkbox_visual {
                border: 1px solid #76ccbc;
                background: url('../../img/icons/completed.png') no-repeat center center;

                position: absolute;
                height: 80%;
                width: 80%;
            }



        .todo-item_text {
            width: 100%;
            /*border: 0;*/
            background: none;
            font-size: 24px;
            color: #666666;
            outline: none;
            font-weight: 200;
            padding-top: 20px;
            word-break: break-all;
            /*line-height: 17px;
            vertical-align: baseline;*/
        }


        .todo-item_remove {
            height: 64px;
            width: 42px;
            align-self: flex-end;
            float: right;
            background: none;
            border: 0;
            outline: none;

        }

            .todo-item:hover  .todo-item_remove {
                background: url('../../img/icons/close.png') no-repeat center center;
            }

            .todo-item_remove:hover {
                cursor: pointer;
            }
